<!DOCTYPE html>
<html lang="en">
<head>
  <title>Show</title>
</head>
<body>
  <h1>Search Results</h1>
  <div>
    <% books.forEach(obj => { %>
      <div>
          <img src=<%= obj.bookImage %> alt= <%= obj.title %>>
          <h2><%= obj.title %></h2>
          <p>Author: <%= obj.authors %></p>
          <p><%= obj.description %></p>
      </div>
    <% }) %>
  </div>

</body>
</html>